body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 1000;
}

header {
    background-color: #FFF;
    color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.logo img {
    max-height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #191919;
    
}

nav ul li a:hover {
    color: #97CA2E;
}

main .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main section {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

main h2 {
    margin-top: 0;
    color: #007bff;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: #007bff;
}
